body{ 
/* background color of the actual background */
background-color:#131315; 
/* text color for most things */
color:#FDFDFD;      
/*margins*/
margin:10px;
font-family:"Times New Roman", Times, serif;
}

.main{ 
width:451px; 
height:auto; 
float:left;
background-color:#333131;  
margin:5px;
padding:3px 20px 0px 20px;
border-style:solid;
/*    TOP RIGHT BOTTOM LEFT padding */
border-width:2px 2px 25px 7px;
border-color:#221111;  
/*    TOP RIGHT BOTTOM LEFT padding */
box-shadow:1px 2px 0 3px #120808;
}      

/* style for menu */
/*.menu{
width:370px;
height:500px;
position:fixed;
top:80px;
left:520px;
margin:8px;
}*/
/* style for running header */
.header{ 
border-color:#222222;
position:relative;
background-color:#353431; 
color:#EEEEEE;
/*    TOP RIGHT BOTTOM LEFT padding */
margin:3px 5px 3px 5px;
border-width:1px 2px 10px 7px;
padding:3px 5px 41px 20px;
border-style:solid;
/*    TOP RIGHT BOTTOM LEFT padding */
box-shadow:1px 1px 0 2px #080808;
}      
.col1{ 
width:110px; 
float:left;
background-color:#313331; 
border-color:#112211; 
height:400px; 
margin:5px;
padding:3px 20px 0px 20px;
position: relative;
overflow-y: auto;
border-style:solid;
/*    TOP RIGHT BOTTOM LEFT padding */
border-width:2px 2px 25px 7px;
box-shadow:1px 2px 0 3px #081208;
}     
.col2{ 
width:110px; 
float:left;
border-color:#121222;
background-color:#313133; 
height:350px; 
margin:5px;
padding:3px 20px 0px 20px;
position: relative;
overflow-y: auto;
border-style:solid;
/*    TOP RIGHT BOTTOM LEFT padding */
border-width:2px 2px 25px 7px;
box-shadow:1px 2px 0 3px #080812;
}    

.header ul
{
float:left;
width:100%;
/*    TOP RIGHT BOTTOM LEFT padding */
margin:2px 5px 3px -7px;
list-style-type:none;
border-style:solid;
/*    TOP RIGHT BOTTOM LEFT padding */
border-width:2px 0px 0px 0px;
padding:4px 1px 0 0;
border-color:#131315;
}
.header li 
{
display:inline;
float:left;
border-style:solid;
/*    TOP RIGHT BOTTOM LEFT padding */
border-width:1px 3px 5px 2px;
margin:0px 2px 0px 5px;
padding:0px;
border-color:#131315;
}
.header li a{
padding:2px 13px 2px 10px;
display:block;
color:#ffffff;
background-color:#333335;
text-decoration:none;
}
.header li a:hover{
display:block;
/*background-color:#333333;*/
background-color:#BB5500;
text-decoration:none;
}
.header li a:active{
display:block;
background-color:#AA0000;
text-decoration:none;
}


div{
/*width:100%;*/
/*float:left;*/
}

.main ul{
 list-style:none;
 margin:0px;
 padding:0;
/*    TOP RIGHT BOTTOM LEFT padding */
margin:10px 0px 30px 8px;
}

.main li{
margin:5px 5px;
width:381px;
/*width:100%;*/
/*float:left;*/
position: relative;
z-index: 10;
border-color:#0A100A;
border-style:solid;
/*    TOP RIGHT BOTTOM LEFT padding */
/*background-color:#2F2B2A;*/
background-color:#33201E;
border-width:1px 5px 8px 2px;
padding:5px 30px 0px 15px;
margin:10px 0px 30px 00px;
}



/* bibtex links */
button {
border-radius:1px;
background: none;
color: #FAA;
font-family:"Times New Roman", Times, serif;
font-size:12pt;
padding:0;
text-decoration: none;
border:none;
}

button:hover {
border: none;
color:#FFAA00;
cursor: pointer;
/*background:black;
box-shadow: 0px 0px 1px #777;*/
}

/* unvisited link */
.main a:link{
color:#FF9095;
text-decoration:none;
}
/* visited link */
.main a:visited{
color:#EE7980;
text-decoration:none;
}
/* hovering over a link */
.main a:hover{
color:#FFAA00;
text-decoration:none;
}
/* selecting a link */
.main a:active{
color:#FF0000;
text-decoration:none;
}

.col1 ul
{
width:100%;
/*    TOP RIGHT BOTTOM LEFT padding */
margin:10px 0px 0px -7px;
list-style-type:none;
border-style:solid;
/*    TOP RIGHT BOTTOM LEFT padding */
border-width:2px 0px 0px 0px;
padding:4px 12px 0px 0;
border-color:#131315;
}
.col1 li 
{
display:block;
width:120px;
border-style:solid;
/*    TOP RIGHT BOTTOM LEFT padding */
border-width:1px 3px 5px 2px;
margin:5px 5px 5px -1px;
padding:0px;
border-color:#131315;
}

.col1 li a{
padding:8px 13px 8px 10px;
display:block;
color:#ffffff;
background-color:#283320;
text-decoration:none;
}
.col1 li span{
padding:8px 13px 8px 10px;
display:block;
color:#999999;
background-color:#283320;
text-decoration:none;
}
.col1 li a:hover{
/*background-color:#333333;*/
background-color:#BB5500;
color:#ffffff;
}
.col1 li a:active{
background-color:#AA0000;
}

.col2 ul
{
width:100%;
/*    TOP RIGHT BOTTOM LEFT padding */
margin:2px 0px 3px -7px;
list-style-type:none;
border-style:solid;
/*    TOP RIGHT BOTTOM LEFT padding */
border-width:2px 0px 0px 0px;
padding:4px 12px 0 0;
border-color:#131315;
}
.col2 li 
{
display:block;
width:120px;
border-style:solid;
/*    TOP RIGHT BOTTOM LEFT padding */
border-width:1px 3px 5px 2px;
margin:5px 5px 5px -1px;
padding:0px;
border-color:#131315;
}
.col2 li a{
padding:8px 13px 8px 10px;
display:block;
color:#ffffff;
background-color:#202833;
text-decoration:none;
}
.col2 li span{
padding:8px 13px 8px 10px;
display:block;
color:#999999;
background-color:#202833;
text-decoration:none;
}
.col2 li a:hover{
/*background-color:#333333;*/
background-color:#BB5500;
}
.col2 li a:active{
background-color:#AA0000;
}

h2{
/*    TOP RIGHT BOTTOM LEFT padding */
margin:10px 0px 8px 0px;
font-size:140%;
}

h4{
width:100%
display: block;
/*text-align:center;*/
/*background-color:#111112;*/
color:#ffffff;
padding:7px 5px 0px 5px;
}
h3{
width:100%
display: block;
/*text-align:center;*/
/*background-color:#111112;*/
color:#ffffff;
padding:7px 5px 0px 5px;
}


table{
font-size:100%;
/*    TOP RIGHT BOTTOM LEFT padding */
margin:0px 10px -5px -7px;
display: block;
position: relative;
color:#EEEEEE;
background-color:#33201E;
padding:5px 10px 8px 3px;
border-style:solid;
border-width:0px 3px 6px 0px;
border-color:#0A100A;
}

.navigation{
font-size:100%;
margin:2pt 0pt 5pt 5pt;
/*    TOP RIGHT BOTTOM LEFT padding */
display: block;
position: relative;
border-width:0;
padding:0;
}


.nostyle{
font-size:100%;
/*    TOP RIGHT BOTTOM LEFT padding */
margin:0;
display: block;
position: relative;
border-width:0;
padding:0;
}

.withstyle{
font-size:100%;
/*    TOP RIGHT BOTTOM LEFT padding */
margin:0px 10px 8px -3px;
display: block;
position: relative;
color:#EEEEEE;
background-color:#33201E;
padding:5px 2px 15px 3px;
border-style:solid;
border-width:0px 0px 2px 0px;
border-color:#0A100A;
}


/*
table{
font-size:100%;
margin:0px 35px -10px -4px;
display: block;
position: relative;
z-index: 10;
color:#DDDDDD;
background-color:#0B090F;
padding:5px 10px 8px 5px;
}
table:after {
background-color:#151618;
content: '';
display: block;
position: absolute;
top: 1px;
left: 1px;
right: 4px;
bottom: 8px;
z-index: -1;
}
*/


.mainentry{
width:351px;
}

.mainentrytitle{
width:230px;
font-weight:bold;
}
.mainentryfull{
width:351px;
font-weight:bold;
}
.number{
vertical-align:text-top;
/*    TOP RIGHT BOTTOM LEFT padding */
padding:1px 7px 0 0;
font-weight:bold;
}
.wideentry{
width:401px;
}
.mainentrydate{
width:121px;
text-align:right;
}


/* for the publications page */
.mainentryarticle{
width:300px;
font-weight:bold;
}

.mainentryyear{
width:51px;
text-align:right;
display:inline; 
}


.backtop{
margin:-10px 50px 30px 5px;
text-align:center;
font-weight:bold;
}


.tags{
margin:-10px 5px 10px 5px;
text-align:right;
color:#CCAAD1;
}

.tab{
font-style:italic;
/*    TOP RIGHT BOTTOM LEFT padding */
margin:-10px 0px 15px 0px;
text-align:right;
}


