
div{
margin:5px 5px;
/*width:100%;*/
/*float:left;*/
padding:3px 20px 20px 20px;
position: relative;
z-index: 10;
overflow-y: auto;
}
div:after {
/* background color of all dividers */
background-color:#181615;
content: '';
display: block;
position: absolute;
top: 2px;
left: 7px;
right: 2px;
bottom: 25px;
z-index: -1;
}

body{ 
/* background color of the actual background */
background-color:#000A0F; 
/* text color for most things */
color:#CCCCCD;      
/*margins*/
margin-top:20px;
margin-bottom:20px;
margin-right:20px;
margin-left:20px;
}

/* unvisited link */
a:link{
color:#1188FF;
text-decoration:none;
}
/* visited link */
a:visited{
color:#0844EE;
text-decoration:none;
}
/* hovering over a link */
a:hover{
color:#FFAA00;
text-decoration:none;
}
/* selecting a link */
a:active{
color:#FF0000;
text-decoration:none;
}


/* style for running header */
.header{ 
background-color:#232323; 
color:#AAAAAA;
}      

.main{ 
width:451px; 
height:734px; 
float:left;
background-color:#220000;  
}      
.col1{ width:140px; background-color:#002200; float:left; height:400px; }     
.col2{ width:140px; background-color:#000022; float:left; height:300px; }    


.col2menu{
margin:0; padding:0; list-style:none;
}
.col2menu li{
padding:0; 
background-color:#111111;
padding:8px;
width:130px;
margin:10px 0px;
}
.col2menu li a{
width:150px;
height:33px;
display:block; 
}
.col2menu li a span{
line-height:30px;
}



/*
.col2menu li a{text-align:left;height:40px; padding:0px 25px; font:16px Verdana, Arial, Helvetica, sans-serif; color:rgb(255,255,255); display:block; background:url('verMenuImages.png') 0px 0px no-repeat; text-decoration:none;}
.col2menu li a:hover{background:url('verMenuImages.png') 0px -40px no-repeat; color:rgb(255,255,255);}
.col2menu li a.active, .menu li a.active:hover{background:url('verMenuImages.png') 0px -80px no-repeat; color:rgb(255,255,255);}
.col2menu li a span{line-height:40px;}
*/



h4{
width:100%
display: block;
text-align:center;
/*background-color:#111112;*/
color:#DDDDDD;
padding:10px 10px 0px 10px;
}
